:root {
  --max-width: 1400px;

  --color-bg: #14191c;
  --color-default: #9089FC;
  --color-default-alpha: rgba(144, 137, 252, .05);
  --color-default-2: #7CB8FE;
  --color-default-2-alpha: rgba(124, 184, 254, .05);
  --color-default-3: #CC7CFE;
  --color-default-3-alpha: rgba(204, 124, 254, .05);

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color-scheme: dark;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
}

body {
  background-color: var(--color-bg);
}

a {
  color: inherit;
  text-decoration: none;
}
