/*
@TODO:
  - mouse select colors
  - mobile bar colors
  */

.wrapper {
  width: 100vw;

  position: relative;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  padding: 2rem;
}

.container {
  width: 100%;
  height: 100%;
  max-width: var(--max-width);

  display: flex;
  flex-direction: column;
}

.bg {
  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  z-index: -1;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}

.bgShape {
  filter: blur(1000px);
}

.header {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headerButton {
  padding: .6rem 1rem;
  border-radius: 6px;

  border: 1px solid var(--color-default);
  background-color: var(--color-default-alpha);

  font-size: .8rem;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  margin-top: 4rem;
}

.mainContentHeading {
  margin-bottom: 1rem;
  letter-spacing: -1px;
}

.specialText {
  background: -webkit-linear-gradient(60deg, var(--color-default-2), var(--color-default), var(--color-default-3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.specialText::-moz-selection {
  background: var(--color-default);
  color: var(--color-bg);
  -webkit-text-fill-color: var(--color-bg);
}

.specialText::selection {
  background: var(--color-default);
  color: var(--color-bg);
  -webkit-text-fill-color: var(--color-bg);
}

.mainGrid {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.mainGridBox {
  border-radius: 12px;

  border: 1px solid var(--color-default);
  background-color: var(--color-default-alpha);

  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.mainGridBox:nth-of-type(2) {
  border-color: var(--color-default-2);
  background-color: var(--color-default-2-alpha);
}

.mainGridBox:nth-of-type(3) {
  border-color: var(--color-default-3);
  background-color: var(--color-default-3-alpha);
}

.mainGridBoxTitle {
  margin-bottom: 1.5rem;
  letter-spacing: -.5px;
}

.mainGridBoxList {
  font-size: .9rem;

  padding-left: .5rem;
  list-style: disc;

  margin-bottom: 1.5rem;
}

.mainGridBoxListItem {
  margin-bottom: .6rem;
}

.mainGridBoxIconList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  margin-top: auto;

  list-style: none;
}

.mainGridBoxIcon {
  opacity: .8;

  margin-right: 1rem;
}

.footer {

}

.footerText {
  font-size: .8rem;

  margin-bottom: 1rem;
}

@media (hover: hover) and (pointer: fine) {
  .gridBoxIcon:hover {
    opacity: 1;
  }

  .headerButton:hover {
    /*background-color: var(--color-default);*/

    background: -webkit-linear-gradient(60deg, var(--color-default-2), var(--color-default), var(--color-default-3));
  }
}

@media (prefers-reduced-motion) {
  .bg {
    animation: none;
  }
}

@media (max-width: 480px) {
  .mainContentHeading {
    display: flex;
    flex-direction: column;
  }

  .mainContentText {
    display: flex;
    flex-direction: column;
  }

  .mainContentText > span {
    margin-top: .5rem;
  }
}

/*@media (max-width: 700px) {*/
/*}*/

@media (max-width: 1120px) {
  .mainGridBox {
    margin-bottom: 1.5rem;
  }

  .mainContentText {
    margin-bottom: 2rem;
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
  .mainContentHeading {
    font-size: 3rem;
  }
}

@media (min-width: 1121px) {
  .wrapper {
    height: 100vh;

    padding: 2rem 4rem;
  }

  .container {
    max-width: var(--max-width);

    margin: 0 auto;
  }

  .mainContent {
    margin-top: 3rem;
  }

  .mainContentHeading {
    font-size: 3rem;

    margin-bottom: 1rem;
  }

  .mainContentText {
    max-width: 85%;

    font-size: 1.4rem;
    line-height: 1.5;

    margin-bottom: 2rem;
  }

  .mainGrid {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

    margin-top: auto;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1401px) {
  .wrapper {
    padding: 4rem 6rem 2rem;
  }

  .main {
    height: 100%;

    display: flex;
    flex-direction: column;
  }

  .mainContent {
    margin-top: 5rem;
  }

  .mainContentHeading {
    margin-bottom: 1.5rem;
  }

  .mainGridBox {
    width: calc(100% / 3);
  }

  .mainGridBox:nth-of-type(2) {
    margin-left: 2rem;
    margin-right: 2rem;
  }

}

@media (prefers-color-scheme: dark) {

}
